.form-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1E2029;
    width: 700px;
    margin-top: 25px;
    border-radius: 10px;
}

.form-data {
    padding: 15px;
}

.required-fields {
    color: white;
    font-size: 9px;
}

.validation-password {
    background-color: #4349661f;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    align-items: flex-start;
}

.password {
    color: white;
}