.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}

.password-manager {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
